<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Platform</title>
</head>
<body>
    <h1>Learning Platform</h1>
    <a href="http://localhost:8081/courses" target="_blank">Курсы</a> <br>
    <a href="http://localhost:8081/students" target="_blank">Студенты</a> <br>
    <a href="http://localhost:8081/teachers" target="_blank">Учителя</a> <br>
    <a href="http://localhost:8081/subscriptions" target="_blank">Подписки студентов</a> <br>
</body>
</html>